<div class="volks">
  <div class="login-form wrapper">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f  -> %>

    <% login_field = Coherence.Config.login_field %>
    <div class="form-group">
      <%= required_label f, login_field, class: "control-label text-primary" %>
      <%= text_input f, login_field, class: "form-control", required: "" %>
      <%= error_tag f, login_field %>
    </div>

    <div class="form-group">
      <%= required_label f, dgettext("coherence", "Password"), class: "control-label text-primary" %>
      <%= password_input f, :password, class: "form-control", required: "" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= submit dgettext("coherence", "Sign In"), class: "btn btn-primary" %>
      <%= link dgettext("coherence", "Cancel"), to: Coherence.Config.logged_out_url("/"), class: "btn" %>
    </div>

    <div class="form-group">
      <%= coherence_links(@conn, :new_session) %>
    </div>
  <% end %>
  </div>
</div>
