<header class="header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <%= link to: "/" do %>
          <%= img_tag(static_path(@conn, "/images/volders-logo-negative.svg")) %>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <%= if @conn.assigns[:current_user] do %>
            <li><%= link("Log out (#{Coherence.current_user_name(@conn)})", to: session_path(@conn, :delete), method: :delete, class: "btn btn-success") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
