/* This file is for your main application css. */
body {
  margin-top: 0;
}

.transparent {
  color: #fff;
  background-color: rgba(252,252,252,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header {
  border-top: 10px solid #aaa;
  background-color: #aaa;
}

.volks {
  width:100%;
  height:1024px;
  background: url('../images/volders-folks-xl.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  overflow: auto;
}

.page {
  z-index: 1;
}

.navbar-nav li a {
  margin-top: 15px;
}

.login-form {
  width: 340px;
  margin: 180px auto;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}

.top-buffer { margin-top:20px; }
