<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group row top-buffer">
    <%= label f, :Vendor, class: "control-label" %>
    <%= select f, :vendor_id, Enum.map(@vendors, &{&1.name, &1.id}), class: "form-control" %>
    <%= error_tag f, :vendor_id %>
  </div>

  <div class="form-group row top-buffer">
    <%= label f, :Category, class: "control-label" %>
    <%= select f, :category_id, Enum.map(@categories, &{&1.name, &1.id}), class: "form-control" %>
    <%= error_tag f, :category_id %>
  </div>

  <div class="form-group row top-buffer">
    <%= label f, :costs, class: "control-label" %>
    <%= number_input f, :costs, step: "any", class: "form-control" %>
    <%= error_tag f, :costs %>
  </div>

  <div class="form-group row top-buffer">
    <%= label f, :ends_on, class: "control-label" %>
    <%= date_input f, :ends_on, class: "form-control" %>
    <%= error_tag f, :ends_on %>
  </div>

  <div class="form-group row top-buffer">
    <%= submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
