<div class="container text-center">
  <h2 class="col-md-offset-4 col-md-4">My Contracts</h2>

  <div class="row top-buffer">
    <div class="col-md-offset-5 col-md-2">
      <%= link "New Contract", to: contract_path(@conn, :new), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="row top-buffer">
    <%= for contract <- @contracts do %>
      <%= link to: contract_path(@conn, :show, contract) do %>
      <div class="well">
        <div class="row small">
          <div class="col-md-3"><strong>Vendor</strong></div>
          <div class="col-md-3"><strong>Category</strong></div>
          <div class="col-md-3"><strong>Costs</strong></div>
          <div class="col-md-3"><strong>Ends on</strong></div>
        </div>
        <div class="row">
          <div class="col-md-3"><%= contract.vendor.name %></div>
          <div class="col-md-3"><%= contract.category.name %></div>
          <div class="col-md-3"><%= Number.Currency.number_to_currency contract.costs %></div>
          <div class="col-md-3"><%= Timex.format! contract.ends_on, "{Mshort} {D}, {WYYYY}" %></div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
