<div class="container">
  <h2 class="col-md-offset-4 col-md-6">New Contract</h2>

  <div class="col-md-offset-4 col-md-6">
    <%= render "form.html", Map.put(assigns, :action, contract_path(@conn, :create)) %>
  </div>
</div>
