<div class="container">
  <h2 class="col-md-offset-3 col-md-6">Contract Details</h2>

  <div class="col-md-offset-4 col-md-8">
    <div class="row top-buffer">
      <strong>Vendor</strong><br/>
      <%= @contract.vendor.name %>
    </div>
    <div class="row top-buffer">
      <strong>Category</strong><br/>
      <%= @contract.category.name %>
    </div>
    <div class="row top-buffer">
      <strong>Costs</strong><br/>
      <%= Number.Currency.number_to_currency @contract.costs %>
    </div>
    <div class="row top-buffer">
      <strong>Ends on</strong><br/>
      <%= Timex.format! @contract.ends_on, "{Mshort} {D}, {WYYYY}" %>
    </div>
    <div class="row top-buffer">
      <%= link "Edit",   to: contract_path(@conn, :edit, @contract),   class: "btn btn-success" %>
      <%= link "Delete", to: contract_path(@conn, :delete, @contract), data: [confirm: "Are you sure?"], method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>

